{
  "env": {
    "browser": true,
    "jquery": true
  },
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    // "react/jsx-indent": [2, 2],
    "react/prefer-stateless-function": 1,
    "no-underscore-dangle": 1,
    "no-console": 0
  }
}