{
  "env": {
      "browser": true,
      "jquery": true
  },
  "plugins": [
      "react"
  ],
  "extends": "airbnb",
  "rules": {
      "react/jsx-indent": [2, 2],
      "react/prefer-stateless-function": 0,
  }
}