<html>
<head>
    <meta charset="UTF-8">
    <title>Ariadne</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a href="#" class="navbar-brand">Ariadne</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <p class="navbar-text">Signed in as <a href="#" class="navbar-link">Jonesy Jones</a></p>
            </div>
        </nav>

        <ul class="list-group">
            <li class="list-group-item list-group-item-info h4">#1 Lorem ipsum dolor sit amet.</li>
            <li class="list-group-item">#2 Ipsum sequi in, impedit quos.</li>
            <li class="list-group-item">#3 Quia, quam voluptas possimus quasi.</li>
            <li class="list-group-item list-group-item-danger h3">#4 Deserunt labore fuga nobis asperiores.</li>
            <li class="list-group-item list-group-item-info h4">#5 Itaque ipsum in iusto distinctio.</li>
            <li class="list-group-item">#6 Perspiciatis aspernatur cumque magni exercitationem!</li>
            <li class="list-group-item list-group-item-info h4">#7 Dolore, modi, temporibus! Laudantium, animi.</li>
            <li class="list-group-item">#8 Ad, dolor, deserunt. Perferendis, laboriosam.</li>
            <li class="list-group-item">#9 Obcaecati, necessitatibus, dignissimos. Enim, provident!</li>
        </ul>

        <textarea name="notes" id="notes" cols="30" rows="10" placeholder="Notes go here" class="form-control"></textarea>

    </main>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>