<html>
<head>
    <meta charset="UTF-8">
    <title>Ariadne</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a href="#" class="navbar-brand">Ariadne</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <p class="navbar-text">Signed in as <a href="#" class="navbar-link">Jonesy Jones</a></p>
            </div>
        </nav>

        <!-- Dashboard -->
        <div class="page-header">
            <h3>The Dashboard</h3>
        </div>
        <div class="row">

            <!-- Active List -->
            <div class="list-group col-md-4">
                <a href="#" class="list-group-item list-group-item-warning"><i class="fa fa-circle-o"></i> 2. Aut dignissimos veritatis laborum, ea?</a>
                <a href="#" class="list-group-item list-group-item-info"><i class="fa fa-circle-o"></i> 3. Quos distinctio accusantium rem repellendus.</a>
                <a href="#" class="list-group-item list-group-item-success"><i class="fa fa-circle-o"></i> 5. Nemo sed, illum doloribus soluta.</a>
                <a href="#" class="list-group-item list-group-item-danger"><i class="fa fa-circle-o"></i> 6. Tempore quas dignissimos vero, asperiores!</a>
                <a href="#" class="list-group-item list-group-item-info"><i class="fa fa-circle-o"></i> 7. Sint repellat voluptates delectus excepturi?</a>
                <a href="#" class="list-group-item list-group-item-danger"><i class="fa fa-circle-o"></i> 9. Hic odit repellendus itaque, quo.</a>
            </div>

            <!-- Completed List -->
            <div class="list-group col-md-4">
                <a href="#" class="list-group-item disabled strike"><i class="fa fa-circle"></i> 1. Lorem ipsum dolor sit amet.</a>
                <a href="#" class="list-group-item disabled strike"><i class="fa fa-circle"></i> 4. Reprehenderit et sapiente, quasi sint!</a>
                <a href="#" class="list-group-item disabled strike"><i class="fa fa-circle"></i> 8. Quisquam nesciunt dolore suscipit eveniet.</a>
            </div>

            <!-- Notes -->
            <div class="col-md-4">
                <textarea name="notes" id="notes" cols="30" rows="10" placeholder="Notes go here" class="form-control"></textarea>
            </div>
        </div>

        <!-- Vault Lists -->
        <div class="page-header">
            <h3>The Vault</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Personal</h3>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item active list-group-item-success">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item list-group-item-success">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item list-group-item-success">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item list-group-item-success">Lorem ipsum dolor sit amet.</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Work</h3>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-info">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item active list-group-item-info">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item list-group-item-info">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item active list-group-item-info">Lorem ipsum dolor sit amet.</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Blog</h3>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item active list-group-item-warning">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item list-group-item-warning">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item list-group-item-warning">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item list-group-item-warning">Lorem ipsum dolor sit amet.</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Animations</h3>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item active list-group-item-danger">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item list-group-item-danger">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item active list-group-item-danger">Lorem ipsum dolor sit amet.</a>
                        <a href="#" class="list-group-item list-group-item-danger">Lorem ipsum dolor sit amet.</a>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>