.task a {
  opacity: 0;
  transition: .3s;
}

.task:hover a {
  opacity: 1;
  text-decoration: none;
}

.strike {
  text-decoration: line-through;
}

.nav,
.pagination,
.carousel,
.panel-title a,
a {
  cursor: pointer;
}
