<html ng-app="ariadne">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatiable" content="IE=edge,chrome=1">
    <title>Ariadne &mdash; An Intelligent Task List</title>

    <!-- Third-Party Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Application Stylesheets -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="container">
        <!-- Title -->
        <div class="page-header">
            <h1>Ariadne <small>An Intelligent Task List</small></h1>
        </div>


        <div id="instructions" class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#instructionsCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="instructionsCollapse">Instructions</a>
                </h4>
            </div>
            <div id="instructionsCollapse" class="panel-collapse collapse">
                <div class="list-group-item">
                    <p class="lead">Step One: Create Tasks</p>
                    <p>Use the form below to create new tasks (ie. 'Do Laundry', 'Meditate with a Homeless Person', 'Develop Mood Board about Cheese').</p>
                    <p>Add an optional <strong>Label</strong> to organize tasks into specific concerns (ie. 'Work', 'Home', 'Sex Dungeon').</p>
                    <p>New tasks will appear in the <strong>Task List</strong>.</p>
                </div>
                <div class="list-group-item">
                    <p class="lead">Step Two: Set Priority</p>
                    <p>Click the <i class="fa fa-exclamation"></i> button to mark a task as <strong>Important (critical)</strong></p>
                    <p>Click the <i class="fa fa-clock-o"></i> button to mark a task as <strong>Urgent (time-sensitive)</strong></p>
                    <p>Otherwise leave the tasks alone</p>
                </div>
                <div class="list-group-item">
                    <p class="lead">Step Three: Your Active List</p>
                    <p>Once priorities are set, you can use the <i class="fa fa-plus"></i> button to add tasks to your <strong>Active List</strong>.</p>
                    <p>This is a list containing the tasks that you will focus on today, organized by priority.</p>
                    <p>When you've completed a task use the <i class="fa fa-check"></i> button to mark it as completed. It will then be added to your completed list.</p>
                    <p> There is a maximum limit of 9 active/completed tasks per day. Every day your completed list is cleared allowing you to add more tasks to your active list.</p>
                </div>
                <div class="list-group-item">
                    <p class="lead">Step Four: Boss Ass Shit</p>
                    <p>You are now a dynamic, productive titan of industry doing boss ass shit on a daily basis. You're welcome.</p>
                </div>
            </div>
        </div>

        <!-- Tasks -->
        <section ng-controller="TaskController as tasks">
            <!-- Active List -->
            <div class="list-group">
                <div class="page-header">
                    <h4>Active <small ng-class="{ 'text-success': tasks.activeCount === tasks.taskLimit, 'text-danger': tasks.activeCount === 0, 'text-info': tasks.activeCount > 0 && tasks.activeCount < tasks.taskLimit }" ng-bind-template="{{ tasks.activeCount}} of {{ tasks.taskLimit }} ({{ tasks.completeCount }} complete)"></small></h4>
                </div>
                <li class="list-group-item task" ng-class="{ 'list-group-item-warning': task.flags.isImportant && !task.flags.isUrgent, 'list-group-item-info': task.flags.isUrgent && !task.flags.isImportant, 'list-group-item-danger': task.flags.isUrgent && task.flags.isImportant }" ng-repeat="task in tasks.taskList | filter : { flags: { isActive: true, isComplete: false } } | orderBy: 'name' | orderBy: '-flags.isUrgent' | orderBy: '-flags.isImportant'">
                    <span ng-bind="task.name"></span>
                    <span ng-if="task.label" class="badge" ng-bind="task.label"></span>
                    <div class="pull-right">
                        <a href="#" ng-click="tasks.toggle(task._id, 'isComplete');" class="text-muted fa fa-fw fa-check"></a>
                        <a href="#" ng-click="tasks.toggle(task._id, 'isActive');" class="text-info fa fa-fw fa-minus" ng-if="!task.flags.isComplete"></a>
                        <a href="#" ng-click="tasks.toggle(task._id, 'isImportant');" class="text-warning fa fa-fw fa-exclamation"></a>
                        <a href="#" ng-click="tasks.toggle(task._id, 'isUrgent');" class="text-success fa fa-fw fa-clock-o"></a>
                        <a href="#" ng-click="tasks.removeTask(task._id)" class="text-danger fa fa-fw fa-trash-o" ng-if="!task.flags.isComplete"></a href="#">
                        &nbsp;&nbsp;&nbsp;
                    </div>
                </li>
            </div>

            <!-- Task List -->
            <div class="list-group">
                <div class="page-header">
                    <h4>Task List</h4>
                </div>
                <li class="list-group-item task" ng-repeat="task in tasks.taskList | filter: { flags: { isActive: false } } | orderBy: 'label'">
                    <span ng-bind="task.name"></span>
                    <span ng-if="task.flags.isImportant" class="label label-warning">Important</span>
                    <span ng-if="task.flags.isUrgent" class="label label-info">Urgent</span>
                    <span ng-if="task.label" class="badge" ng-bind="task.label"></span>
                    <div class="pull-right">
                        <a href="#" ng-click="tasks.toggle(task._id, 'isActive');" class="text-info fa fa-fw fa-plus" ng-if="!task.flags.isActive"></a>
                        <a href="#" ng-click="tasks.toggle(task._id, 'isImportant');" class="text-warning fa fa-fw fa-exclamation"></a>
                        <a href="#" ng-click="tasks.toggle(task._id, 'isUrgent');" class="text-success fa fa-fw fa-clock-o"></a>
                        <a href="#" ng-click="tasks.removeTask(task._id)" class="text-danger fa fa-fw fa-trash-o"></a href="#">
                        &nbsp;&nbsp;&nbsp;
                    </div>
                </li>

            </div>
            <!-- Add New Task -->
            <div class="page-header">
                <h4>Create Task</h4>
            </div>
            <form ng-submit="tasks.createTask(); console.log(tasks.taskList);">
                <div class="form-group">
                    <input type="text" placeholder="Name" class="form-control" ng-model="tasks.newTask.name" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Label (optional)" ng-model="tasks.newTask.label" uib-typeahead="task.label for task in tasks.taskList | unique: 'label' | filter: $viewValue" typeahead-editable="true">
                </div>
                <button type="submit" class="btn btn-lg btn-primary">Add</button>
            </form>

            <!-- Completed List -->
            <div class="list-group">
                <div class="page-header">
                    <h4>Completed Tasks</h4>
                </div>
                <li class="list-group-item disabled" ng-repeat="task in tasks.taskList | filter: { flags: { isActive: true, isComplete: true} }">
                    {{ task.name }}
                    <div class="pull-right">
                        <a href="#" class="fa fa-undo fa-fw text-muted" ng-click="tasks.toggle(task._id, 'isComplete');"></a>
                    </div>
                </li>
            </div>
        </section>
    </main>

    <!-- Third-Party Code -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-resource/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Application Code -->
    <script src="/js/script.js"></script>
</body>
</html>