<html ng-app="ariadne">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatiable" content="IE=edge,chrome=1">
    <title>Ariadne &mdash; An Intelligent Task List</title>

    <!-- Third-Party Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Application Stylesheets -->
    <link rel="stylesheet" href="/css/style.min.css">
</head>
<body>
    <main class="container" ng-controller="MainController as main">
        <!-- User Controller -->
        <div ng-controller="UserController as user">
            <!-- Title -->
            <div class="page-header">
                <div class="pull-right">
                    <p ng-bind-template="Welcome, {{ main.user.username }}"></p>
                    <p>
                        <a href="/admin" ng-if="main.user.flags.isAdmin">Admin Dashboard</a>
                        &bull;
                        <a href="/feedback">Feedback</a>
                        &bull;
                        <a href="/logout">Log Out</a>
                    </p>
                </div>
                <h1>Ariadne <small>An Intelligent Task List</small></h1>
            </div>
        </div>
        <!-- Quote of the Day -->
        <div class="quote"></div>
        <!-- Instructions -->
        <div id="instructions" class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#instructionsCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="instructionsCollapse">Instructions <i class="fa fa-caret-down fa-fw"></i></a>
                </h4>
            </div>
            <div id="instructionsCollapse" class="panel-collapse collapse">
                <div class="list-group-item">
                    <p class="lead">Step One: Create Tasks</p>
                    <p>Use the form below to create new tasks (ie. 'Do Laundry', 'Meditate with a Homeless Person', 'Develop Mood Board about Cheese').</p>
                    <p>Add an optional <strong>Label</strong> to organize tasks into specific concerns (ie. 'Work', 'Home', 'Sex Dungeon').</p>
                    <p>New tasks will appear in the <strong>Task List</strong>.</p>
                </div>
                <div class="list-group-item">
                    <p class="lead">Step Two: Set Priority</p>
                    <p>Click the <i class="fa fa-exclamation"></i> button to mark a task as <strong>Important (critical)</strong></p>
                    <p>Click the <i class="fa fa-clock-o"></i> button to mark a task as <strong>Urgent (time-sensitive)</strong></p>
                    <p>Otherwise leave the tasks alone</p>
                </div>
                <div class="list-group-item">
                    <p class="lead">Step Three: Your Active List</p>
                    <p>Once priorities are set, you can use the <i class="fa fa-plus"></i> button to add tasks to your <strong>Active List</strong>.</p>
                    <p>This is a list containing the tasks that you will focus on today, organized by priority.</p>
                    <p>When you've completed a task use the <i class="fa fa-check"></i> button to mark it as completed. It will then be added to your completed list.</p>
                    <p> There is a maximum limit of 9 active/completed tasks per day. Every day your completed list is cleared allowing you to add more tasks to your active list.</p>
                </div>
                <div class="list-group-item">
                    <p class="lead">Step Four: Boss Ass Shit</p>
                    <p>You are now a dynamic, productive titan of industry doing boss ass shit on a daily basis. You're welcome.</p>
                </div>
            </div>
        </div>

        <button class="btn btn-default" data-toggle="modal" data-target="#createTask">
            Create New Task
        </button>
        <!-- Tasks -->
        <section ng-controller="TaskController as tasks" ng-cloak>
            <!-- Active List -->
            <div class="list-group">
                <div class="page-header">
                    <h4>Active <small ng-class="{ 'text-success': tasks.activeCount === tasks.taskLimit, 'text-danger': tasks.activeCount === 0, 'text-info': tasks.activeCount > 0 && tasks.activeCount < tasks.taskLimit }" ng-bind-template="{{ tasks.activeCount}} of {{ tasks.taskLimit }} - {{ tasks.completeCount }} complete"></small></h4>
                </div>
                <li class="list-group-item task" ng-repeat="task in main.taskList | filter : { flags: { isActive: true } } | orderBy: ['flags.isComplete', 'name', 'flags.isStarred']" ng-class="{disabled: task.flags.isComplete}">
                    <span class="label" ng-bind="task.name"></span>
                    <i class="fa fa-fw fa-exclamation text-warning" ng-if="task.flags.isImportant"></i>
                    <i class="fa fa-fw fa-clock-o text-info" ng-if="task.flags.isUrgent"></i>
                    <span ng-if="task.label" class="badge" ng-bind="task.label"></span>
                    <div class="pull-right">
                        <a ng-if="!task.flags.isComplete" ng-click="tasks.toggle(task._id, 'isComplete');" class="fa fa-fw fa-check"></a>
                        <a ng-if="!task.flags.isComplete" ng-click="tasks.toggle(task._id, 'isActive');" class="fa fa-fw fa-minus" ng-if="task.flags.isActive"></a>
                        <a ng-if="!task.flags.isComplete" ng-click="tasks.toggle(task._id, 'isImportant');" class="fa fa-fw fa-exclamation"></a>
                        <a ng-if="!task.flags.isComplete" ng-click="tasks.toggle(task._id, 'isUrgent');" class="fa fa-fw fa-clock-o"></a>
                        <a ng-if="!task.flags.isComplete" ng-click="tasks.removeTask(task._id)" class="fa fa-fw fa-trash-o"></a>
                        <a ng-if="task.flags.isComplete" class="fa fa-undo fa-fw text-muted" ng-click="tasks.toggle(task._id, 'isComplete');"></a>
                        &nbsp;&nbsp;&nbsp;
                    </div>

                </li>
            </div>

            <!-- Task List -->
            <div class="list-group">
                <div class="page-header">
                    <h4>Task List</h4>
                </div>


                <table id="tasks" class="table table-striped table-hover">
                    <thead>
                        <th>Task</th>
                        <th>Created On</th>
                        <th>Parent</th>
                        <th>Children</th>
                        <th>Label</th>
                        <th>Flags</th>
                        <th>Due Date</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr class="task" ng-repeat="task in main.taskList | filter: { flags: { isActive: false } } | orderBy: ['-flags.isStarred', 'dueDate', 'createdOn']">
                            <td ng-bind="task.name"></td>
                            <td ng-bind="task.createdOn | date: 'medium'"></td>
                            <td ng-bind="task.parent"></td>
                            <td>
                                <span ng-repeat="child in task.children">
                                    {{ child }}
                                </span>
                            </td>
                            <td ng-bind="task.label"></td>
                            <td>
                                <i class="fa fa-fw fa-star" ng-class="{ hide: !task.flags.isStarred }" title="Important"></i>
                                <i class="fa fa-fw fa-info-circle" ng-class="{ hide: !task.notes }" title="{{task.notes}}"></i>
                            </td>
                            <td>
                                <span ng-if="task.dueDate" ng-bind="task.dueDate | date: 'mediumDate'"></span>
                            </td>
                            <td>
                                <a ng-click="tasks.toggle(task._id, 'isActive');" class="fa fa-fw fa-plus" ng-if="!task.flags.isActive" title="Add to Active"></a>
                                <a ng-click="tasks.toggle(task._id, 'isStarred');" class="fa fa-fw fa-star" title="Mark Important"></a>
                                <a ng-click="tasks.removeTask(task._id)" class="fa fa-fw fa-trash-o" title="Delete Task"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <!-- Create Task Modal -->
            <div id="createTask" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Create Task</h4>
                        </div>
                        <div class="modal-body">
                            <form ng-submit="tasks.createTask()">
                                <div class="form-group">
                                    <input type="text" placeholder="Name" class="form-control" ng-model="tasks.newTask.name" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Label (optional)" ng-model="tasks.newTask.label" uib-typeahead="task.label for task in main.taskList | unique: 'label' | filter: $viewValue" typeahead-editable="true">
                                </div>
                                <div class="form-group">
                                    <textarea name="notes" placeholder="Notes (optional)" id="" cols="30" rows="4" class="form-control" ng-model="tasks.newTask.notes"></textarea>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" uib-datepicker-popup="MMM d, yyyy" ng-model="tasks.newTask.dueDate" ng-focus="datePopup.open = true" is-open="datePopup.open" placeholder="Due Date (optional)">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Parent (optional)" ng-model="tasks.newParent" uib-typeahead="task as task.name for task in main.taskList | filter: $viewValue">
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!-- Third-Party Code -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-resource/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Application Code -->
    <script src="/js/script.js"></script>
    <script>
        $(function() {
            $('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip();
            $('.quote').qod();
        });
    </script>
</body>
</html>